<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'"> success </div>
  <div *ngSwitchCase="'info'"> Info </div>
  <div *ngSwitchCase="'warnig'"> warnig </div>
  <div *ngSwitchDefault>danger</div>
</div>

<button  (click)="alerta = 'success'" class="btn btn-success" >
  Cambiar color
</button>

<div [ngSwitch]="alerta">

  <div class="alert alert-success" *ngSwitchCase="'success'" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-danger" *ngSwitchCase="'danger'" role="alert">
    A simple danger alert—check it out!
  </div>
  <div class="alert alert-warning" *ngSwitchCase="'warning'" role="alert">
    A simple warning alert—check it out!
  </div>
  <div class="alert alert-info" *ngSwitchCase="'info'"  role="alert">
    A simple info alert—check it out!
  </div>
  <div class="alert alert-light" *ngSwitchCase="'light'" role="alert">
    A simple light alert—check it out!
  </div>
  <div class="alert alert-dark" *ngSwitchCase="'dark'" role="alert">
    A simple dark alert—check it out!
  </div>
</div>